@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  --bg-col: white;
  --fg-col: black;
  --inverse-fg: white;
  --inverse-bg: black;
}

body {
  padding: 1rem;
  color: var(--fg-col);
  background-color: var(--bg-col);
}

header,
aside { margin-bottom: 2.5rem; }

aside p,
aside li { font-size: .75rem; }


h1 {
  font-size: unset;
  margin: 0 0 .5rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
 }


h3 { 
  font-size: unset;
  margin: unset;
 }

ul { padding-left: 0.75rem; }

ul, p { margin: 0.5rem 0; }

.room {  margin-bottom: 0; }
.teacher { margin-top: 0; }
.week { margin-bottom: 2.5rem; }

.date {
  background: var(--inverse-bg);
  color:var(--inverse-fg);
  padding: 0.25rem;
  display: inline-block;
  letter-spacing: .5px;
  margin-bottom: 0;
}

.lower { /* gendersternchen */
  position: relative;
  top: 1px;
}

@media (min-width: 700px) {
  :root { font-size: 130% }
  body {
    padding: 2rem 5% 3rem 3rem;
    display: grid;
    grid-gap: 4rem 3vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  header, footer, main, aside { margin: 0; }
  header { grid-row: 1/2; }
  header,
  footer { grid-column: 1/-1; }
  main { 
    grid-column: 1/2;
    grid-row: 2/-1;
  }
  aside { 
    grid-column: 2/-1;
    grid-row: 2/-1;
    align-self: start;
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: 'Source Code Pro';
    --bg-col: hsl(0 0% 7%);
    --fg-col: hsl(108 100% 50%);
    --fg-secondary-col: hsl(108 65% 15%);

    --inverse-fg: hsl(108 100% 65%);
    --inverse-fg-secondary: hsl(108 100% 65%);
    --inverse-bg: hsl(107, 63%, 10%);

    --accent-fg: hsl(107, 100%, 50%);

    letter-spacing: .5px;
    font-weight: 400;
  }
  h3 { color: var(--inverse-fg); }
  aside {
    padding: .25rem .5rem;
    background: var(--inverse-bg);
    color: var(--inverse-fg-secondary);
   }
  h1, h2, h3 { font-weight: unset; }
  a { color: var(--fg-col); }
}

