@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 130%;
  --bg-col: white;
  --fg-col: black;
  --inverse-fg: white;
  --inverse-bg: black;
}

body {
  padding: 1rem;
  color: var(--fg-col);
  background-color: var(--bg-col);
}

header,
aside { margin-bottom: 2.5rem; }

aside p, li {
  font-size: .75rem;
}


h1 {
  font-size: unset;
  margin: 0 0 .5rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
 }


h3 { 
  font-size: unset;
  margin: unset;
 }

ul { padding-left: 0.75rem; }

ul, p { margin: 0.5rem 0; }

.room {  margin-bottom: 0; }
.teacher { margin-top: 0; }
.week { margin-bottom: 2.5rem; }

.date {
  background: var(--inverse-bg);
  color:var(--inverse-fg);
  padding: 0.25rem;
  display: inline-block;
  letter-spacing: .5px;
  margin-bottom: 0;
}

.lower { /* gendersternchen */
  position: relative;
  top: 1px;
}

@media (min-width: 700px) {
  :root { font-size: 150% }
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: 'Source Code Pro';
    --bg-col: black;
    --fg-col: hsl(140, 90%, 50%);
    --inverse-fg: hsl(300, 100%, 45%);
    --inverse-fg-secondary: hsl(40, 55%, 40%);
    --inverse-bg: hsl(0, 0%, 10%);
    --accent-fg: hsl(40, 80%, 50%); 
    letter-spacing: .5px;
    font-weight: 400;
  }
  h3 { color: var(--accent-fg); }
  aside {
    padding: .25rem .5rem;
    background: var(--inverse-bg);
    color: var(--inverse-fg-secondary);
   }
  h1, h2, h3 { font-weight: unset; }
}

