@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  --bg-col: white;
  --fg-col: black;
  --inverse-fg: white;
  --inverse-bg: black;
}

body {
  padding: 1rem;
  color: var(--fg-col);
  background-color: var(--bg-col);
}

h1 {
  font-size: unset;
  margin: 0 0 .5rem;
}

h2 {
  font-size: 1.75rem;
  margin: 0;
 }

header { margin-bottom: 2.5rem; }

h3 { 
  font-size: unset;
  margin: unset;
 }

ul { padding-left: 0.75rem; }

ul, p { margin: 0.5rem 0; }

p, li,
.date,
.teacher,
.room {
  font-size: 0.75rem;
 }
.room {  margin-bottom: 0; }
.teacher { margin-top: 0; }
.week { margin-bottom: 2.5rem; }

.date {
  background: var(--inverse-bg);
  color:var(--inverse-fg);
  padding: 0.25rem;
  display: inline-block;
  letter-spacing: .5px;
  margin-bottom: 0;
}

.lower { /* gendersternchen */
  position: relative;
  top: 1px;
}

@media (min-width: 700px) {
  :root { font-size: 150% }
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: 'Source Code Pro';
    --bg-col: black;
    --fg-col: hsl(165, 100%, 55%);
    --inverse-fg: hsl(303, 100%, 58%);
    --inverse-bg: hsl(0, 0%, 0%);
    letter-spacing: .5px;
    font-weight: 400;
  }
  h3 { color:hsl(39, 100%, 58%); }
  h1, h2, h3 { font-weight: unset; }
}

